* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif ;
    background-color:hsl(30, 54%, 90%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 6rem;
}
.recipe-card {
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 2.3rem;
    border-radius: 25px;
    max-width: 700px;
}
.recipe-img {
    width: 100%;
    border-radius: 10px;
}
.title {
    font-family: "Young Serif", serif;;
    font-size: 2.5rem;
    font-weight: 400;
    padding: 0.5em;
    padding-left: 0;
    color: hsl(24, 5%, 18%)
}
.description {
    color:hsl(30, 10%, 34%);
    font-size: 16px;
    padding-bottom: 1.5em;
}

.prep{
    background-color: hsl(330, 100%, 98%);
    margin: 1.5em 0;
    padding: 1.5em;
    line-height: 2;
    border-radius: 10px;
}
.prep h3 {
    color: hsl(332, 51%, 32%);
    margin-top: 0;
}
.prep-time {
    padding-left: 2em;
    color:hsl(30, 10%, 34%)
}
.h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
    padding-top: 1.5em;
    padding-left: 0;
    color: hsl(14, 45%, 36%);
}
.bullet-list {
    padding: 1.5em;
    line-height: 1.6;
}
.number-list{
    padding: 1.5em;
    line-height: 1.6;
}
.bullet-list li::marker,
.number-list li::marker{
    color: hsl(14, 45%, 36%);
}
b{
    color: hsl(30, 10%, 34%);
}
.description2 {
    color:hsl(30, 10%, 34%);
    font-size: 16px;
    padding:  1.3em 0;
    padding-left: 0;
}
.nutrition-table > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em ;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
.nutrition-table > div:last-child {
    border-bottom: none;
}
.nutrition-table  span {
    display: flex;
    align-items: center;
    line-height: 1;
    width: 280px;
}
.value {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

/* Mobile Styling */
@media (max-width: 480px) {
  body {
    padding: 0;
  }

  .recipe-card {
    padding: 1.5rem;
    border-radius: 0;
  }
  .recipe-card h1 {
    font-size: 27px;
  }

  .recipe-img {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    border-radius: 0;
  }
}
